@import './../../scss/colors.scss';

.image-box {
  min-height: 400px;
  position:relative;
}
.title-list {
  color: white;
  &:hover {
    color: white;
  }
  border-radius: 10px;
  background-color: $primay-color;

  // border: 1px solid $primay-color;
  // border-bottom: 1px solid $primary-color;
}

#sensha {
  background-image: url("src/assets/images/service/sensha.jpg");
}
#bankin {
  background-image: url("src/assets/images/service/bankin.jpg");
}
#hanbai {
  background-image: url("src/assets/images/service/hanbai.jpg");
}
#hoken {
  background-image: url("src/assets/images/service/hoken.jpg");
}
#kyuyu {
  background-image: url("src/assets/images/service/kyuyu.jpg");
}
#road {
  background-image: url("src/assets/images/service/road.jpg");
}
#shaken {
  background-image: url("src/assets/images/service/shaken.jpg");
}
#taiyakoukan {
  background-image: url("src/assets/images/service/taiyakoukan.jpg");
}