@import './../../scss/colors.scss';

.image-box {
  min-height: 400px;
  position:relative;
}
.title-list {
  color: white;
  // &:hover {
    // color: white;
  // }
  // border-radius: 10px;
  // background-color: $primay-color;
  // color: white;
  /* border-radius: 10px; */
  /* background-color: #b3424a; */
  border-bottom: 1px solid #b87c80;
  color: #b3424a;
  width: 9rem;
  font-size: 0.9rem !important;
  // border: 1pe solid $primay-color;
  // border-bottom: 1px solid $primary-color;
}

#sensha {
  background-image: url("src/assets/images/service/sensha-800.jpg");
}
#bankin {
  background-image: url("src/assets/images/service/bankin-800.jpg");
}
#hanbai {
  background-image: url("src/assets/images/service/hanbai-800.jpg");
}
#hoken {
  background-image: url("src/assets/images/service/hoken-800.jpg");
}
#kyuyu {
  background-image: url("src/assets/images/service/kyuyu-800.jpg");
}
#road {
  background-image: url("src/assets/images/service/road-800.jpg");
}
#shaken {
  background-image: url("src/assets/images/service/shaken-800.jpg");
}
#taiyakoukan {
  background-image: url("src/assets/images/service/taiyakoukan-800.jpg");
}
#oil {
  background-image: url("src/assets/images/service/oil-800.jpg");
}
#rent {
  background-image: url("src/assets/images/service/rent-800.jpg");
}

.col-15, .col-sm-15, .col-md-15, .col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
}
.col-6 {
  width: 50%;
}

@media (min-width: 768px) {
.col-sm-15 {
	width: 20%;
	flex: 0 0 20%;
}
}

@media (min-width: 992px) {
.col-md-15 {
	width: 20%;
	flex: 0 0 20%;
}
}

@media (min-width: 1200px) {
.col-lg-15 {
	width: 20%;
	flex: 0 0 20%;
}
}