@import "src/scss/colors.scss";

#main-navi {
  border-bottom: 1px solid $primay-color;
  background-color: rgba(169, 57, 67, 1);
  h1 {
    color: white;
    img {
      height: 2.8rem;
      width: 2.8rem;
    }
  }
  backdrop-filter: blur(3px);
  .dropdown-menu {
    border:none;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    animation: show 0.2s linear 0s;
  }
}
