@import 'scss/colors.scss';
@import 'scss/fonts.scss';

.article {
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: white;

  .info {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-200;
    word-break: break-word;

    h1 {
      letter-spacing: -0.5px;
    }

    .badge {
      margin-right: 3px;
    }
    .badge-primary {
      color: white;
      background-color: $primay-color;
      border: 1px solid $primay-color;
    }
    .badge-secondary {
      color: $primay-color;
      border: 1px solid $primay-color;
    }

    time {
      font-size: $font-size-xs;
      color: $gray-500;
      display: inline;
      margin-right: 10px;
    }
  }

  .content {
    padding-bottom: 10px;

    h2 {
      padding-top: 10px;
      margin-bottom: 20px;
    }
    h3, h4, h5, h6{
      margin-bottom: 0;
    }
    h3 {
      font-size: 1.2rem;
    }
    h4 {
      font-size: 1.1rem;
    }
    h5 {
      font-size: 1rem;
    }
    h6 {
      font-size: 0.9rem;
    }

    p {
      margin: 0.3rem 0;
    }

    blockquote {
      background-color: $gray-100;
      border-left: 5px solid $gray-200;
      padding: 0.25em 1.5em;

      a {
        display: block;
        word-break: break-word;
      }
    }
  }
}
