@import 'scss/colors.scss';

.footer {
  hr {
    border-color: $red;
    border-width: 3px;
    max-width: 50px;
  }
}

.footer-list {
  height: auto;
  min-height: 0;
  padding: 1rem 0;
  text-align: center;
  span {
    padding: 0 0.5rem;
  }
}
