@import 'scss/colors.scss';

.footer {
  section {
    background-image: url("./../../assets/images/back-texcha.jpg");
  }
  section:nth-child(1) {
    background-color: #b3424a;
    background-blend-mode: multiply;
  }
  section:nth-child(2) {
    background-color: #9c2d38;
    background-blend-mode: multiply;
  }
  hr {
    border-color: $red;
    border-width: 3px;
    max-width: 50px;
  }
}

.footer-list {
  height: auto;
  min-height: 0;
  padding: 1rem 0;
  text-align: center;
  span {
    padding: 0 0.5rem;
  }
}
