@import "src/scss/styles";

#cnt-1 {
  .back-image {
    background-image: url("src/assets/images/movable-type.jpg");
    background-attachment: fixed;
    // background-color: grey;
  }
  .top-message {
    background-color: rgba(255,255,255, 0.9);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    width: 100%;
;
  //  filter: blur(4px)
  }
}
ul {
  list-style-type: none;
  padding-left: 0;
}
