@import "./override-style.scss";

$primay-color : #b3424a;
$strong-color: #9c2d38;
$ligth-primary-color:#FFB0A3;
$accent-color: #2A3855;
$background-color: #F6F4EC;
$warning-color: #FDD428;
$white-color: #fff;

body { background-color: $white-color; }

.background-primary { background-color: $primay-color !important; }
.color-primary { color: $primay-color !important; }
.color-warning { color: $warning-color !important; }
.color-white { color: $background-color !important; }

h1 {
  letter-spacing: 0;
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6, a {
  color: $primay-color;
  font-weight: 600;
}
.btn-outline-primary {
    color: $primay-color;
    background-image: none;
    background-color: transparent;
    border-color: $primay-color;
}
 hr {
    border: none;
    background-color: $primay-color;
    border-width: 3px;
    max-width: 50px;
}
svg {
  color: $primay-color;
}
