// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//
// Color system
//
@import './colors.scss';
@import './helper.scss';

// Reassign color vars to semantic color scheme
$theme-colors: (
  // primary: $purple,
  primary: $engi,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  // sm: 540px,
  // md: 640px,
  // lg: 710px,
  // xl: 780px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-700 !default;
$inverse-bg: $gray-900 !default;
$inverse-color: $gray-600 !default;
// $inverse-color: $gray-600 !default;

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Fonts
//
@import './fonts.scss';
html, body {
  // sans
  // font-family: "Noto Sans Jp",$font-family-base !important;
  // serif def
  font-family: "Noto Serif Jp",$font-family-base !important;
  // serif 2
  // font-family: "Shippori Mincho B1",$font-family-base !important;
}

@import 'node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%;
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  margin-bottom: 15px;
  max-width: 100%;
}

img:hover {
  animation: pulse 0.5s;
}

body { background-color: $white-color; }

.background-primary { background-color: $primay-color !important; }
.color-primary { color: $primay-color !important; }
.color-warning { color: $warning-color !important; }
.color-white { color: $background-color !important; }

h1 {
  letter-spacing: 0;
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6, a {
  color: $primay-color;
  font-weight: 600;
}
a:hover{
  color: $strong-color;
  // font-weight: 600;
}
.btn-outline-primary {
    color: $primay-color;
    background-image: none;
    background-color: transparent;
    border-color: $primay-color;
}
 hr {
    border: none;
    height: 2px;
    background-color: $primay-color;
    border-width: 3px;
    max-width: 50px;
}
svg {
  color: $primay-color;
}
hr.in-post-line {
  width: 100%;
  max-width: 100%;
  height: 2px;
}
.content {
  h2, h3, h4 {
    margin-top: 2rem;
    margin-bottom:0.8rem;
  }
}