@import './colors.scss';

.hidden-x {
  overflow-x: hidden;
}

#top-info-home {
  min-height: 1rem;
}
#top-navigation {
  section  {
    min-height: 1rem;
  }
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
